:root {
  --test-border: 2px solid red;
  /* color theme */
  --nice-blue: #05486b;
  --nice-dark-green: #379683;
  --nice-green: #5cdb95;
  --nice-light-green: #8ee4af;
  --nice-cream: #edf5e1;
}
#main-app-container {
  display: flex;
  min-height: 100%;
}
#left-app-container {
  color: var(--nice-blue);
  background-color: var(--nice-green);
  flex: 1;
  padding: 12px 12px 0 12px;
  border: var(--test-border);
}
#right-app-container {
  background-color: var(--nice-green);
  flex: 5;
  display: flex;
  flex-direction: column;
  border: var(--test-border);
}
.edit-button,
.submit-button,
.add-button {
  align-self: flex-end;
  padding: 4px 12px;
  width: fit-content;
  margin-right: 6px;
  background-color: var(--nice-blue);
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
  color: white;
}
