#main-app-container {
  display: flex;
  min-height: 100%;
}
#left-app-container {
  flex: 1;
  padding: 12px 0 0 12px;
}
#right-app-container {
  flex: 5;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}
.edit-button {
}
.submit-button {
}
