.education-main-container {
  flex: 3;
  padding: 12px 0 0 12px;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.education-main-container > input,
.education-main-container > button {
  margin-top: 24px;
}
