.experience-main-container {
  flex: 1;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experience-main-container > input,
.experience-main-container > button {
  margin-top: auto;
}

.right-title {
  font-size: 1.65rem;
  font-weight: bolder;
  margin: 0;
  border-bottom: 2px solid black;
}

.right-item-container {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
}

.right-item-buttons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.right-period {
  margin-top: 12px;
  font-size: 1.1rem;
  font-weight: 400;
}

.right-item-bold {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
}

.right-item-small {
  margin-top: 12px;
  margin-bottom: 24px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
