.experience-main-container {
  flex: 1;
  padding: 12px;
  border: var(--test-border);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experience-main-container > input,
.experience-main-container > button {
  margin-top: auto;
}

.job-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.job-field {
  display: flex;
  justify-content: space-between;
}

.job-buttons {
  display: flex;
  justify-content: flex-end;
}
