.GI_main-container {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  margin: 12px 32px 0 32px;
  gap: 12px;
}

.GI-Display-container {
  display: flex;
}
.GI-Display-container > * {
  margin-right: 6px;
}

#FirstName {
  font-size: 1.8rem;
  font-weight: bold;
}

#LastName {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

#GI-contact {
  font-size: 1.65rem;
  font-weight: bolder;
  margin-bottom: 12px;
  border-bottom: 2px solid black;
}

#Email {
  margin-bottom: 8px;
}

#Phone {
  margin-bottom: 24px;
}

p {
  margin: 0;
}
