.GI_main-container {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  gap: 16px;
}

.GI-Display-container {
  display: flex;
}
.GI-Display-container > * {
  margin-right: 6px;
}

p {
  margin: 0;
}
